[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.4"

[dev-packages]
pytest = "==3.0.7"
pytest-cov = "*"
ipython = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.6"
